.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginButton {
  width: 160px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  color: white;
  background: rgb(130, 130, 241);
}

.loginButton:hover {
  transition: 0.5s;
  filter: brightness(0.8);
  cursor: pointer;
}

.inputStyle {
  border: 0.5px solid rgb(209, 209, 254);
  padding: 5px;
  border-radius: 5px;
}